@media (min-width: 700px) {
    .home {
        .home__movie-container {
            .home__logo {
                margin-bottom: 100px;
            }
            .home__movie {
                width:37%;
                height: 73%;
            }
        }
    }
}