.like {
    width: 100%;
    position: relative;
    transition: margin-left .5s;
    background-color:  $BG_WhiteSecundary;
    padding-bottom: 45.5%;

    .like__movie-container{
        width: 100%;
        height: 100%;

        .like__logo {
            width: 100%;
            height: 70px;
            background-color:$BG_PinkSecundary;
            text-align: center;
            padding-top: 30px;
        }

        h2 {
            font-size: 1.5em;
            font-weight: 800;
            color:  $LT_darkGrey;
            padding: 20px 0 0 10px;
        }

        .like__sequence {
            width: 100%;
            height: 75%;
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;

            .like__film {
                width: 45%;
                height: 200px;
                background:   $BG__MidnightBlue;
                position: relative;
                border-radius: 5px;
                margin: 5px;

                &:nth-child(odd) {
                    margin-left: 10px;
                }

                .like__title {
                    position: absolute;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: linear-gradient(0deg, rgba(114, 114, 114, 0.9) 10%, rgba(254, 254, 254, 0) 80%);
                    border-radius: 5px;
                    
                    h3 {
                        color:  $LT_White;
                        margin: 0 0 15px 10px;
                        font-weight: 700;
                    }

                    ul {
                        display: flex;
                        margin: 0 0 20px 10px;
                    }
                }
            }
        }

        .like__notLikeMovie {
            width: 100%;
            text-align: center;
            margin-top: 60px;
            padding-bottom: 50px;

            img {
                width: 20%;
            }

            h2 {
                margin-top: 25px;
                font-size: 20px;
            }
        }
    }
}