/******************
 * Cores de fundo *
 ******************/
 $BG_Red: #ff1c1c;
 $BG_darkRed: #d30000;
 $BG_Pink: #ff5656;
 $BG_PinkSecundary: #FF3333;
 $BG__MidnightBlue: #2C3E50;
 $BG_lightGrey: #E5E5E5;
 $BG_Black: #000000;
 $BG_lightBlue: #6B7E9D;
 $BG_White: #ffffff;
 $BG_WhiteSecundary: #F4F4F4;
 /*******************
  * Cores de textos *
  *******************/
 $LT_White: #ffffff;
 $LT_Black: #000000;
 $LT_lightBlue: #6B7E9D;
 $LT_darkGrey: #444444;
 $LT_Grey: #999999;
 $LT_Red: #961717;
 
 
  /*****************
  * Cores Flat UI *
  *****************/
 $BD_White: #ffffff;

 /*****************
  * Cores Flat UI *
  *****************/
 $flatBlue: #2980B9;
 $flatLightBlue: #3498DB;
 $flatGreenSea: #16A085;
 $flatLightGreenSea: #1ABC9C;
 $flatGreen: #27AE60;
 $flatLightGreen: #2ECC71;
 $flatPruple: #3f254b;
 $flatLightPurple: #9B59B6;
 $flatRed: #C0392B;
 $flatLightRed: #E74C3C;
 $flatPumpkin: #D35400;
 $flatCarrot: #E67E22;
 $flatOrange: #F39C12;
 $flatYellow: #F1C40F;
 $flatMidnightBlue: #2C3E50;
 $flatLightMidnightBlue: #34495E;
 $flatSmoke: #7F8C8D;
 $flatLightSmoke: #95A5A6;
 $flatGrey: #BDC3C7;
 $flatLightGrey: #ECF0F1;