/******************
 * Cores de fundo *
 ******************/
 $BG_Red: #ff1c1c;
 $BG_darkRed: #d30000;
 $BG_Pink: #ff5656;
 $BG_PinkSecundary: #FF3333;
 $BG__MidnightBlue: #2C3E50;
 $BG_lightGrey: #E5E5E5;
 $BG_Black: #000000;
 $BG_lightBlue: #6B7E9D;
 $BG_White: #ffffff;
 $BG_WhiteSecundary: #F4F4F4;
 /*******************
  * Cores de textos *
  *******************/
 $LT_White: #ffffff;
 $LT_Black: #000000;
 $LT_lightBlue: #6B7E9D;
 $LT_darkGrey: #444444;
 $LT_Grey: #999999;
 $LT_Red: #961717;
 
 $BD_White: #ffffff;
